<br>
<br><br>
<h3>Form Edit Awesome</h3>
<hr>
<form (ngSubmit)="add()" [formGroup]="addForm">
  <div class="form-group">
    <label>tag</label>
    <input type="text" class="form-control" formControlName="tag">
    <div class="form-group">
      <label>URL</label>
      <input type="text" class="form-control" formControlName="url">
    </div>

    <div class="form-group">
      <label>Description</label>
      <input type="text" class="form-control" formControlName="descriptions">
    </div>

    <button class="btn btn-info">Add Awesome</button>
  </div>
</form>
